@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: repeating-linear-gradient(
      94deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      4deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      4deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 10px
    ),
    repeating-linear-gradient(
      94deg,
      rgba(108, 92, 231, 0.19) 0px,
      rgba(108, 92, 231, 0.19) 1px,
      transparent 1px,
      transparent 10px
    ),
    linear-gradient(94deg, rgb(20, 20, 20), rgb(20, 20, 20));
}


.custom-button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

.custom-button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
